requests  # for web image (interact with web-slinker)
# pysqlite for db image (interact with db-slinker) [ALREADY INCLUDED IN PYTHON SINCE PYTHON 2.5]
redis  # for cache image (interact with cache-slinker)
pika  # for msg image (msg-p-slinker)